<section id="about" class="grey-background">
    <div class="container-fluid text-center">
        <div class="row">
            <div id="meet" class="text-center">
                <div class="filter">
                    <h1>MEET THE BAND</h1> 
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="bio-wrapper" class="row">
            <div class="col-sm-12 col-lg-4 card-wrapper sm-mb-2 lg-mb-0">
                <div class="card box-shadow" id="wesley">
                    <img class="card-img-top" src="img/wesley.jpg" alt="Card image cap">
                    <div class="card-block text-center p-3">
                        <h2 class="card-title">Wesley Han</h2>
                        <h5 class="card-subtitle font-italic">Vocals, Electric Guitar</h5>
                        <hr>
                        <div class="card-text-wrapper">
                            <p class="card-text visible">
                                Wesley grew up all his life in the borough of Queens. 
                                Unsurprisingly, he is comprised of more than his Korean nationality and place of mortal origin. 
                                He is infamous for his tendency to question everything and anything; whether in turn, or out of turn he usually can care less. 
                                Born in 1993, the year of the rooster, he set out on living a life that looked like empowering people through their emotional and spiritual healing.
                            </p>
                            <span class="btn btn-primary read-more">READ MORE</span>    
                            <p class="card-text hidden">
                                His musical influences range from the sturdy sound of engines that pass by on the roads, to the faces of people he comes across in the streets. 
                                Sometimes, musical instruments will inspire him with harmonious, energetic synergy. 
                                He loves anything and everything that will make him move. 
                                Like in a sweet funk song, if you hear the bass drum hitting “1, 2, 3, 4” on the floor with a nice dancing arrangement between the hi hats and the snare drum, 
                                he will start laughing obnoxiously and scare all those around him.
                            </p>
                            <span class="btn btn-primary read-less hidden">READ LESS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 card-wrapper sm-my-2 lg-my-0">
                <div class="card box-shadow" id="phill">
                    <img class="card-img-top" src="img/phill.jpg" alt="Card image cap">
                    <div class="card-block text-center p-3">
                        <h2 class="card-title">Phillip Kim</h2>
                        <h5 class="card-subtitle font-italic">Drummer, Hypeman</h5>
                        <hr>
                        <div class="card-text-wrapper">
                            <p class="card-text visible">
                                Phill had something of a quarter life crisis during his first job out of college. 
                                For roughly a decade and a half, his goal in life had been a diploma and a degree - the middle class American dream. 
                                Unfortunately (fortunately?) he had achieved it and felt disappointed. 
                                Dissatisfied and occupied with existential thoughts, he began using WhatIsLyfe and other variants as his username on various sites. 
                                Fortunately for him, he had a hobby to go back to.
                            </p>
                            <span class="btn btn-primary read-more">READ MORE</span>
                            <p class="card-text hidden">
                                Phill is obsessed with sound. 
                                It manifests through constant playbacks of a song he likes, a nodding head or tapping fingers along with a left foot keeping a quarter-note pulse. 
                                His favorite genre is currently electronic music for its eclectic sounds. 
                                He particularly enjoys electro for its aggressive rhythms. 
                                He wishes he had spent his youth learning how to be a DJ or a producer so that he can make his own electronic tunes and hype up a crowd of 100,000. 
                                He'll settle for drumming with the other members of Hano, as long as he gets to make as many people cry to one of their songs. 
                                That ballad is yet to be written but in the meantime, he'll continue WhatIsLyfing.
                            </p>
                            <span class="btn btn-primary read-less hidden">READ LESS</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-4 card-wrapper sm-mt-2 lg-mt-0">
                <div class="card box-shadow" id="jihoon">
                    <img class="card-img-top" src="img/jihoon.jpg" alt="Card image cap">
                    <div class="card-block text-center p-3">
                        <h2 class="card-title">Jihoon Oh</h2>
                        <h5 class="card-subtitle font-italic">Bassist</h5>
                        <hr>
                        <div class="card-text-wrapper">
                            <div class="visible">
                                <p class="card-text">
                                    Born in South Korea in the year 1994, Jihoon has aspired to be a yogurt delivery guy as a child. 
                                    Immigrating to America in 2001, his aspirations of delivering sweets has not changed much; 
                                    It had just manifested in the form of sweet & funky grooves.
                                </p>
                                <p class="card-text">
                                    With a Computer Science degree in his left hand and a Jazz bass in his right, 
                                    Jihoon seeks to fuse the field of Music & Tech and propel it forward. 
                                </p>
                            </div>
                            <br class="hidden-lg-up">
                            <span class="btn btn-primary read-more">READ MORE</span>
                            <p class="card-text hidden">
                                His main influences are (in no particular order): Nell, Flea, Joe Dart, Victor Wooten, Michael League, 서영도, Elon Musk, 
                                and some YouTube bassists, such as Scott Devine, Adam Neely, and Leslie Johnson.
                            </p>
                            <p class="card-text hidden">
                                Jihoon currently works full time as a Software Engineer for IBM and has a passion for puzzles, riddles, and general problem-solving. 
                                He is also the creator and designer of this website. 
                                He is open to creating a website for you as long as you pay him in the form of Korean BBQ or cat videos. 
                                The cat video must be authentic and original.
                            </p>
                            <span class="btn btn-primary read-less hidden">READ LESS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{!--<section class="p-0" id="about">--}}
{{!--    <div class="container-fluid">--}}
{{!--        <div class="row no-gutter popup-gallery">--}}
{{!--          <div class="col-lg-4 col-sm-6">--}}
{{!--            <a class="portfolio-box" href="img/portfolio/fullsize/1.jpg">--}}
{{!--              <img class="img-fluid" src="img/portfolio/thumbnails/1.jpg" alt="">--}}
{{!--              <div class="portfolio-box-caption">--}}
{{!--                <div class="portfolio-box-caption-content">--}}
{{!--                  <div class="project-category text-faded">--}}
{{!--                    Category--}}
{{!--                  </div>--}}
{{!--                  <div class="project-name">--}}
{{!--                    Project Name--}}
{{!--                  </div>--}}
{{!--                </div>--}}
{{!--              </div>--}}
{{!--            </a>--}}
{{!--          </div>--}}
{{!--          <div class="col-lg-4 col-sm-6">--}}
{{!--            <a class="portfolio-box" href="img/portfolio/fullsize/2.jpg">--}}
{{!--              <img class="img-fluid" src="img/portfolio/thumbnails/2.jpg" alt="">--}}
{{!--              <div class="portfolio-box-caption">--}}
{{!--                <div class="portfolio-box-caption-content">--}}
{{!--                  <div class="project-category text-faded">--}}
{{!--                    Category--}}
{{!--                  </div>--}}
{{!--                  <div class="project-name">--}}
{{!--                    Project Name--}}
{{!--                  </div>--}}
{{!--                </div>--}}
{{!--              </div>--}}
{{!--            </a>--}}
{{!--          </div>--}}
{{!--          <div class="col-lg-4 col-sm-6">--}}
{{!--            <a class="portfolio-box" href="img/portfolio/fullsize/3.jpg">--}}
{{!--              <img class="img-fluid" src="img/portfolio/thumbnails/3.jpg" alt="">--}}
{{!--              <div class="portfolio-box-caption">--}}
{{!--                <div class="portfolio-box-caption-content">--}}
{{!--                  <div class="project-category text-faded">--}}
{{!--                    Category--}}
{{!--                  </div>--}}
{{!--                  <div class="project-name">--}}
{{!--                    Project Name--}}
{{!--                  </div>--}}
{{!--                </div>--}}
{{!--              </div>--}}
{{!--            </a>--}}
{{!--          </div>--}}
{{!--          <div class="col-lg-4 col-sm-6">--}}
{{!--            <a class="portfolio-box" href="img/portfolio/fullsize/4.jpg">--}}
{{!--              <img class="img-fluid" src="img/portfolio/thumbnails/4.jpg" alt="">--}}
{{!--              <div class="portfolio-box-caption">--}}
{{!--                <div class="portfolio-box-caption-content">--}}
{{!--                  <div class="project-category text-faded">--}}
{{!--                    Category--}}
{{!--                  </div>--}}
{{!--                  <div class="project-name">--}}
{{!--                    Project Name--}}
{{!--                  </div>--}}
{{!--                </div>--}}
{{!--              </div>--}}
{{!--            </a>--}}
{{!--          </div>--}}
{{!--          <div class="col-lg-4 col-sm-6">--}}
{{!--            <a class="portfolio-box" href="img/portfolio/fullsize/5.jpg">--}}
{{!--              <img class="img-fluid" src="img/portfolio/thumbnails/5.jpg" alt="">--}}
{{!--              <div class="portfolio-box-caption">--}}
{{!--                <div class="portfolio-box-caption-content">--}}
{{!--                  <div class="project-category text-faded">--}}
{{!--                    Category--}}
{{!--                  </div>--}}
{{!--                  <div class="project-name">--}}
{{!--                    Project Name--}}
{{!--                  </div>--}}
{{!--                </div>--}}
{{!--              </div>--}}
{{!--            </a>--}}
{{!--          </div>--}}
{{!--          <div class="col-lg-4 col-sm-6">--}}
{{!--            <a class="portfolio-box" href="img/portfolio/fullsize/6.jpg">--}}
{{!--              <img class="img-fluid" src="img/portfolio/thumbnails/6.jpg" alt="">--}}
{{!--              <div class="portfolio-box-caption">--}}
{{!--                <div class="portfolio-box-caption-content">--}}
{{!--                  <div class="project-category text-faded">--}}
{{!--                    Category--}}
{{!--                  </div>--}}
{{!--                  <div class="project-name">--}}
{{!--                    Project Name--}}
{{!--                  </div>--}}
{{!--                </div>--}}
{{!--              </div>--}}
{{!--            </a>--}}
{{!--          </div>--}}
{{!--        </div>--}}
{{!--    </div>--}}
{{!--</section>--}}