<header class="lede">
  <div class="filter">
    <div class="header-content">
      <div class="header-content-inner text-left">
        <h1 id="homeHeading">HANO</h1>
        <hr>
        <p class="text-left font-italic">Han(æ¨): A collective sense of bonding based on suffering and hardship</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#media">Take a listen</a>
      </div>
    </div>
  </div>
</header>