<header class="lede">
  <div id="lede-filter">
    <div class="header-content">
      <div class="header-content-inner">
        <h1 id="homeHeading">HANO</h1>
        <hr>
        <p>Han(æ¨): A collective sense of bonding based on suffering and hardship</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Take a listen</a>
      </div>
    </div>
  </div>
</header>