#about .card-wrapper .card-img-top {
    height: 250px; }
    #about .card-wrapper .card-text {
        font-family: "Times New Roman";
        font-weight: 100; 
        font-size: 1em; 
    }
    #about .card-wrapper .read-more, #about .card-wrapper .read-less {
        cursor: pointer;
    }


@media (min-width: 768px) {
    #about .card-wrapper .card-img-top {
        height: 500px; 
    } 
}


@media (min-width: 992px) {
    #about .card-wrapper {
        max-width: 33%;
        display: inline-block; } 
        #about .card-wrapper .card-img-top {
            height: 270px; } }