#about {
    padding: 0; }
    #about #meet {
        position: relative;
        background-image: url("../img/hano_practice.jpg");
        background-attachment: fixed;
        color: white;
        background-position: center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%; 
        height: 600px; 
        display: block; }
        #about #meet h1 {
            position: absolute;
            font-family: "gill sans";
            letter-spacing: 5px;
            font-weight: 300;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

#about #bio-wrapper {
    padding: 5em 0; }
    /*#about .card-wrapper .card-img-top {*/
    /*    height: 300px; }*/
        #about .card-wrapper .card-text {
            font-family: "Times New Roman";
            font-weight: 100; 
            font-size: 1em; }
        #about .card-wrapper .read-more:hover, #about .card-wrapper .read-less:hover {
            background-color: #333;
            color: white;
        }


@media (min-width: 768px) {
    #about #bio-wrapper {
        padding-right: 5em;
        padding-left: 5em;
    }
    #about .card-wrapper .card-img-top {
        height: 400px; 
    } 
}

@media (min-width: 992px) {
    #about .card-wrapper .card-img-top {
        height: 200px;
    }
    #about .visible {
        height: 400px; }
        #about div.visible {
            overflow: hidden;
            margin-bottom: 20px;
        }
}

@media (min-width: 1200px) {
    #about .card-wrapper {
        max-width: 33%;
        display: inline-block; } 
        #about .card-wrapper .card-img-top {
            height: 250px; } 
            #about .visible {
                height: 300px; }
}