header.lede {
  position: relative;
  width: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url("../img/car.jpg");
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.lede .header-content {
    position: relative;
    width: 100%;
    padding: 150px 15px 100px;
    text-align: center; }
    header.lede .header-content .header-content-inner h1 {
      font-size: 30px;
      font-weight: 700;
      margin-left: -3px;
      margin-top: 0;
      margin-bottom: 0;
      text-transform: uppercase; }
    header.lede .header-content .header-content-inner hr {
      margin: 30px 0; }
    header.lede .header-content .header-content-inner p {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px;
      color: rgba(255, 255, 255, 0.8); }
    header.lede .header-content .header-content-inner a {
      background-color: rgba(255, 255, 255, 0);
      border: 2px solid #eee;
      border-radius: 0px; 
      color: white;
    }
      header.lede .header-content .header-content-inner a:hover {
        background-color: white;
        color: black;
      }
      /* There is a strange blue highlight around the box, so the below removes that highlight */
      header.lede .header-content .header-content-inner a:focus {
        outline: none !important; 
        -webkit-appearance: none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none; }
  @media (min-width: 768px) {
    header.lede {
      height: 100%;
      min-height: 600px; }
      header.lede .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
        header.lede .header-content .header-content-inner {
          max-width: 1000px;
          margin-right: auto;
          margin-left: auto; }
          header.lede .header-content .header-content-inner h1 {
            font-size: 50px; 
            margin-left: -5px; }
          header.lede .header-content .header-content-inner p {
            font-size: 18px;
            max-width: 37.5%;
            margin-right: auto;
            margin-left: 0; } }